<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AM.Activities.Common.Design" version="2.2.400-AMAC-1595" targetFramework="net462" />
  <package id="AM.Activities.Interfaces" version="2.2.26" targetFramework="net462" />
  <package id="AM.ComposerActivitiesBridge" version="2.3.2" targetFramework="net462" />
  <package id="AM.Core.Db.DataAccess" version="1.2.28" targetFramework="net462" />
  <package id="AM.Encryption" version="1.2.29" targetFramework="net462" />
  <package id="AM.Localization" version="0.8.1" targetFramework="net462" />
  <package id="AM.Localization.Interfaces" version="0.8.1" targetFramework="net462" />
  <package id="AM.Localization.IO.CSV" version="0.8.1" targetFramework="net462" />
  <package id="AM.Logging" version="2.4.56" targetFramework="net462" />
  <package id="AM.PluginAssembly" version="1.1.62" targetFramework="net462" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net462" />
  <package id="SharpVectors.Reloaded" version="1.6.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>